*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	scroll-behavior: smooth;
}

.header{
	background-color:darkblue;
	width: 95.6%;
	height: 50px;
	margin:auto;
	color: whitesmoke;
	border: 3px solid blue;
	font-family: algerian,sans-serif;
	border-radius: 20px;
	margin-top: 4%;
	box-shadow: 10px 10px 100px darkblue;
}

.header nav ul{
	float: left;
	list-style-type: none;
}

.header nav ul li{
	display: inline-block;
	line-height: 20px;
	padding-right: 16px;
	margin-top: 5%;
}

.header nav ul li a{
	text-decoration: none;
	color: whitesmoke;
}

.fa-facebook{
	background-color:whitesmoke;
	color: blue;
	font-size: 20px;
}

.fa-twitter-square{
	color: skyblue;
	font-size: 20px;
}

.fa-instagram-square{
	font-size: 20px;
	color: #3f729b ;
	background-color: whitesmoke;
}

.chat{
	position: sticky;
	bottom: 5px;
	right: 0px;
	width: 20%;
	cursor: pointer;
}

.fa-whatsapp{
	font-size: 30px;
	color: green;
	background-color: whitesmoke;
	margin-left: 2%;
	background-color: auto;
}

.header ul:nth-child(2){
	float: right;
	margin:-1%;
}

.header  input[type="url"]{
	width: 300%;
	height: 20px;
	margin: -210%;
	background-color: antiquewhite;
	overflow: hidden;
	text-overflow:ellipsis;
}

.fa-searchengin{
	background-color:#00008B;
	color: floralwhite;
	width:10%;
	font-size:80%;
	margin:-320%;
}

.nav_bg nav{
	background-color:whitesmoke;
	width: 95%;
	height: 55px;
	margin: auto;
	margin-top: 0px;
	position: fixed;
	top: 0px;
	margin-left: 2.5%;
	border-radius: 20px;
	z-index: 3;
}

.nav_bg nav ul{
	list-style-type: none;
	float: right;
}

.nav_bg nav ul li{
	display: inline-block;
	padding: 25px;
	line-height: 59px;
	margin-top: -4%;
	letter-spacing: 2px;
}

.nav_bg nav ul li a{
	text-decoration: none;
	text-decoration: underline;
	color: black;
}

.nav_bg nav ul li a:hover{
	background-color:navajowhite;
	color: black;
	font-size: 20px;
	display: block;
	font-family: monospace;
}

.nav_bg img{
	width: 150px;
	height: 50px;
	margin-top:;
}

.background img{
	width: 95.5%;
	margin-left: 34px;
	margin-top: 20px;
	border: 5px solid black;
}

.aboutus img{
	width: 200px;
	height: 200px;
	float: right;
	margin: 3%;
	box-shadow: 5px 5px green;

}

.aboutus p{
	text-align: justify;
	font-family: bookman old style;
	margin: 3%;
	width: 70%;
	line-height: 30px;
}

.aboutus h1{
	text-align: center;
	color: burlywood;
	margin-top: 2%;
	word-spacing: 5px;
	margin-left: 15%;
}

.box1{
	background-color: white;
	box-shadow: 10px 10px gray;
	width: 25%;
	height: 500px;
	border: 5px solid hotpink;
    float:left;
	margin: 4%;
}

.box1 p{
	text-align: justify;
	font-family: bookman old style;
	line-height: 30px;
	margin: 3%;
}

.box1 ul{
	margin-left: 7%;
	line-height: 30px;
	font-family: bookman old style;
	text-shadow: 1px 0px black;
}

.container h1{
	margin-left: 35%;
	color: burlywood;
	font-family:times new roman	;
	word-spacing: 5px;
}

.fa-user-secret{
	font-size: 60px;
	padding: 20px;
	margin-left:35% ;
}

.fa-ethereum{
	font-size: 60px;
	width: 100px;
	padding: 20px;
	margin-left: 40%;
	color: silver;
}

.fa-globe-africa{
	font-size: 60px;
	margin-left:40% ;
	padding: 20px;
	color: skyblue;
}

.crypto h1{
		margin-left: 30%;
	color: burlywood;
	font-family:times new roman	;
	word-spacing: 5px;
}

.box2 , .box3 , .box4 , .box5 , .box6{
	/*border: 5px solid mediumvioletred;*/
	width: 15%;
	height: 350px;
	float: left;
	margin-right:2%;
	margin-top: 3%;
	margin-left: 3%;
	box-shadow: 10px 10px black;
}

.box2 p{
	background-color: orange;
	width: 100%;
	height: 70px;
	text-align:center;
	color: whitesmoke;
	font-family: algerian,sans-serif;
	font-size: 30px;
	padding: 10px;
	border: 5px solid orange;
}

.box2 pre{
	text-align: center;
	line-height: 35px;
	font-size: 14px;
	margin-top: 10%;
	font-family: bookman old style;
}

.box1:hover{
transform: scale(1.1); 
background-color: lawngreen;
 	}

.box3 p{
	background-color:blueviolet;
	height: 70px;
	text-align:center;
	color: whitesmoke;
	font-family: algerian,sans-serif;
	font-size: 30px;
	padding: 10px;
	border: 5px solid blueviolet;
	animation-duration: 4s;
}

.box3 pre{
	text-align: center;
	line-height: 35px;
	font-size: 14px;
	margin-top: 10%;
	font-family: bookman old style;
}

.box4 p{
	background-color:deepskyblue;
	height: 70px;
	text-align:center;
	color: whitesmoke;
	font-family: algerian,sans-serif;
	font-size: 30px;
	padding: 10px;
	border: 5px solid deepskyblue;
}

.box4 pre{
	text-align: center;
	line-height: 35px;
	font-size: 14px;
	margin-top: 10%;
	font-family: bookman old style;
}

.box5 p{
	background-color:lawngreen;
	height: 70px;
	text-align:center;
	color: whitesmoke;
	font-family: algerian,sans-serif;
	font-size: 30px;
	padding: 10px;
	border: 5px solid lawngreen;
}

.box5 pre{
	text-align: center;
	line-height: 35px;
	font-size: 14px;
	margin-top: 10%;
	font-family: bookman old style;
}

.box6 p{
	background-color:red;
	height: 70px;
	text-align:center;
	color: whitesmoke;
	font-family: algerian,sans-serif;
	font-size: 30px;
	padding: 10px;
	border: 5px solid  red;
}

.box6 pre{
	text-align: center;
	line-height: 35px;
	font-size: 14px;
	margin-top: 10%;
	font-family: bookman old0style;
}

.review H1{
	text-align: center;
	word-spacing: 10px;
	color: burlywood;
	margin-top:30%;
}

.review table{
	width: 50%;
	margin-top: 2%;
	margin-left: 2%;
	background-image: url(https://time.com/nextadvisor/wp-content/uploads/2021/12/bitcoin-price-history-884x584.jpg);
	background-repeat: no-repeat;
	background-size: 90%,100%;
	background-attachment: fixed;
}

.review table tr{
	text-align: center;
	color: whitesmoke;
}

.login h1{
	text-align: center;
	color: burlywood;
	text-transform: uppercase;
	word-spacing: 15px;
	letter-spacing: 5px;
	margin-top: 3%;
}

.boxs{
	width: 50%;
	height: 310px;
	border: 2px solid black;
	margin: auto;
	margin-top: 2%;
	background-attachment: fixed;
	/*background-size: 30px,30px;*/
	background-repeat: no-repeat;
	background-image: url(https://m.economictimes.com/thumb/msid-88845907,width-1599,height-1047,resizemode-4,imgsize-177468/bitcoin-price.jpg);
}
.boxs h2{
	background-color:black;
	color: whitesmoke;
	width: 100%;
	height: 40px;
	text-align: center;
	text-transform: capitalize;
}
.boxs input[type="text"]{
	margin-left: 10%;
	width: 50%;
	border-radius: 20px;
	box-shadow: 5px 5px gray;
	height: 30px;
	margin-top: 3%;
}

.boxs input[type="email"]{
	margin-left: 10%;
	width: 50%;
	border-radius: 20px;
	box-shadow: 5px 5px gray;
	height: 30px;
	margin-top: 3%;
}

.boxs input[type="password"]{
	margin-left: 6%;
	width: 50%;
	border-radius: 20px;
	box-shadow: 5px 5px gray;
	height: 30px;
	margin-top: 3%;
}

.boxs input[type="tel"]{
	margin-left: 2%;
	width: 50%;
	border-radius: 20px;
	box-shadow: 5px 5px gray;
	height: 30px;
	margin-top: 3%;
}

.boxs label{
	font-size: 20px;
	font-family: bookman old style;
	margin-left: 18%;
	margin-top: 4%;

}

.boxs input[type="radio"]{
	height:;
	margin-top:5%;
	margin-left: 6%;
}

.button{
	background-color: red;
	width: 40%;
	height: 40px;
	border: 5px solid orangered;
	box-shadow: 2px 2px red;
	margin-left: 30%;
	margin-top: 3%;
	cursor: pointer;
	border-radius: 20px;
}

.button p {
	text-align: center;
	padding: 8px;
	color: whitesmoke;
	font-size: 20px;
	font-family: bookman old monospace;
}

.button:hover{
	background-color: green;
	border: 5px solid green;
	font-size: 30px;
	box-shadow: 2px 2px lawngreen;
}
 .top{
	background-color:#660000;
	width: 20%;
	height: 30px;
	border: 2px solid orangered;
	margin-left: 40%;
	box-shadow: 3px 9px 10px rosybrown;
	border-radius: 30px;
}
 .top p{
	text-align: center;
	font-size: 20px;
	font-family: algerain;
}

.top p a{
	text-decoration: none;
	color: whitesmoke;
}
.top :hover{
	background-color: green;
	box-shadow: 3px 9px 10px rosybrown;
	border-radius: 30px;
}

 .a{
	background-color: rebeccapurple;
	width: 95%;
	height: 200px;
	margin:auto;
	margin-top: ;
	box-shadow: 10px 10px 10px violet;
	border: 10px solid darkviolet;
}

 .a table tr{
	color: whitesmoke;
	text-align: center;
}

.a table{
width: 100%;

}
.aboutus a{
	position: relative;
	top: -60px;
}
/*.container a{
	position: relative;
	top: -60px;
}*/
.login a{
	position: relative;
	top: -60px;
}
.review a{
	position: relative;
	top: -60px;
}
.crypto a{
	position: relative;
	top: -100px;
}