*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
body{
	background-image: url(../images/2.png);
	background-size: cover;
	background-repeat: no-repeat;
}
.navbar nav{
	background-color: darkgreen;
	text-align: center;
	width: 100%;
	height:auto;

}
.navbar nav ul{
	list-style-type: none;
	overflow: hidden;
	
}
.navbar nav ul li{
	display: inline-block;
	float: left;
	padding-right: 10px;
	padding-top: 2.5px;
 	font-family: bookman old style;	
 	font-size: 12px	;
}
.navbar nav ul li a{
	text-decoration: none;
	line-height: 45px;
	color: white;
	display: block;
	transition: 300ms;
}
.navbar nav ul li a:not(.home):hover{
	background-color: forestgreen;
	width: auto;
	border-radius: 5px;
	border-bottom: 9px solid lawngreen;
}
.home{
	background-color: forestgreen;
	width: 120px;
	border-radius: 5px;
}
.menu1{
	display: none;
	position: absolute;
	top: 50px;
	left: 40px;
	background-color: blue;
	color: black;
	width: auto;
	height: auto;
}
.navbar:hover .menu1{
	display: block;
}